.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;

  margin-top: 10vh;
  flex: 0.2 0.2 0;
}

.main {
  flex: auto;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
